
.btn-status {
  display: inline-block;

  .switch-input {
    display: none;
  }

  .switch-input:checked {
    & ~ .btn-change::before {
      transition: 0.3s;
      transform: translateX(17px);
    }

    & ~ .btn-change {
      @apply
        bg-green-400;
      }
  }

  .btn-change {
    border-radius: 30px;
    width: 2.7rem;

    @apply
      flex
      items-center
      p-1
      h-6
      cursor-pointer
      bg-gray-300;
  }

  .btn-change::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s;
    transform: translateX(0);
  }
}