.d-datepicker-panel-slide {
  height: calc(32px * 5);
  @apply
    relative
    overflow-hidden;

  &.prev {
    .d-datepicker-panel-slide-enter-from {
      transform: translate3D(-100%, 0, 0);
    }

    .d-datepicker-panel-slide-leave-to {
      transform: translate3D(100%, 0, 0);
    }
  }

  &.next {
    .d-datepicker-panel-slide-enter-from {
      transform: translate3D(100%, 0, 0);
    }

    .d-datepicker-panel-slide-leave-to {
      transform: translate3D(-100%, 0, 0);
    }
  }
}


.d-datepicker-month-label {
  width: 12ch;
  height: 28px;
  @apply  
    relative
    overflow-hidden; 

  &.prev {
    .d-datepicker-month-label-slide-enter-from {
      opacity: 0;
      transform: translate3D(0, 100%, 0);
    }

    .d-datepicker-month-label-slide-leave-to {
      opacity: 0;
      transform: translate3D(0, -100%, 0);
    }
  }

  &.next {
    .d-datepicker-month-label-slide-enter-from {
      opacity: 0;
      transform: translate3D(0, -100%, 0);
    }

    .d-datepicker-month-label-slide-leave-to {
      opacity: 0;
      transform: translate3D(0, 100%, 0);
    }
  }
}