
.d-color-picker {
  @apply 
    flex
    items-center
    gap-4;

  &-indicator {
    @apply
      w-5
      h-5
      border
      rounded;
  }
}


.d-color-picker-panel {
  @apply
    bg-white
    rounded-lg
    shadow
    p-4;


  &-color-palette {
    width: var(--size);
    height: var(--size);
    position: relative;
    canvas {
      @apply
        w-full
        h-full;
    }
  }

  &-hue-slider {
    position: relative;
    @apply
      mt-3;

    canvas {
      @apply
        w-full
        h-full;
    }
  }

  &-alpha-slider {
    background: conic-gradient(rgb(204, 204, 204) 25%, rgb(255, 255, 255) 0deg, rgb(255, 255, 255) 50%, rgb(204, 204, 204) 0deg, rgb(204, 204, 204) 75%, rgb(255, 255, 255) 0deg) 0% 0% / 8px 8px;
    position: relative;
    @apply
      mt-3;
    
    &-gradient {
      @apply
        w-full
        h-full;
    }
  }
}

.d-color-picker-cursor {
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  border: 2px solid white;
  position: absolute;
}