.d-picker {
  overscroll-behavior: contain;
  width: 100%;
  width: var(--width);

  &:before {
    content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
    background: linear-gradient(white 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, white 100%);
    z-index: 40;
  }

  @apply
    cursor-pointer
    overflow-hidden
    relative
    h-full;
  
  &-wheel {
    z-index: 20;
    height: var(--item-height);
    top: 50%;
    margin-top: calc(-1 * var(--item-height) / 2);
    @apply
      w-full
      absolute;

    &-rotate {
      will-change: transform;
      transform-style: preserve-3d;

      @apply
        w-full
        h-full
        relative;
    }
    &-item {
      height: var(--item-height);
      line-height: var(--item-height);
      backface-visibility: hidden;
      font-size: var(--item-font-size, 1rem);
      color: var(--item-background-font-color, #6b7280);
      @apply
        absolute
        w-full
        text-center
        font-mono
        select-none;
    }
  }

  &-board {
    height: var(--item-height);
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
    perspective: 1200px;
    @apply
      bg-white
      absolute
      border-t
      border-b
      border-gray-300
      w-full
      overflow-hidden;

    &-transform {
      will-change: transform;
    }

    &-option {
      height: var(--item-height);
      line-height: var(--item-height);

      font-size: var(--item-font-size, 1rem);
      @apply
        align-middle
        text-center
        font-mono;
    }
  }
}