
.App {
  .header {
    height: 60px;
    border-bottom: 1px solid rgba(15,23,42,.1);
    background-color: hsla(0,0%,100%,.6);
    position: fixed;
    width: 100%;
    top: 0;

    @apply
      flex
      justify-between
      items-center
      px-10;

    &-title {
      @apply
        font-medium
        text-3xl;
    }

    & > ul.navigation {
      @apply
        flex
        flex-row
        font-medium;

      & > *:not(:last-child) {
        @apply
          mr-7;
      }
    }
  }

  & > *:not(.header) {
    max-width: 900px;
    margin: 60px auto 0;
  }
}
