.App {
  .header {
    height: 60px;
    border-bottom: 1px solid rgba(15,23,42,.1);
    background-color: hsla(0,0%,100%,.9);
    position: fixed;
    width: 100%;
    top: 0;

    @apply
      flex
      justify-between
      items-center
      px-10;

    &-title {
      @apply
        font-medium
        text-3xl;
    }

    & > ul.navigation {
      @apply
        flex
        flex-row
        font-medium;

      & > *:not(:last-child) {
        @apply
          mr-7;
      }
    }
  }
}


.main {
  padding-top: 60px;
}


.siderbar-container {
  width: 100%;
  display: flex;

  .sidebar {
    flex: 0 0 200px;
    @apply
      px-5;

    & > ul {
      position: sticky;
      top: 60px;
      left: 0;

      @apply
        mt-5;

      & > li {
        @apply
          h-7
          text-sm;

        &.selected {
          @apply
            font-medium;
        }
      }
    }
  }

  .sidebar-main {
    flex-grow: 1
  }
}
