
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  max-width: 800px;
  margin: 0 auto;
  @apply
    py-4
    h-screen;

  ul.navigation {
    @apply
      flex
      flex-row;

    & > *:not(:last-child) {
      @apply
        mr-5;
    }
  }

  .logo {
    @apply
      w-full;
      img {
        @apply
          mx-auto
          my-36;
      }
  }
}
