@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Consolas, monospace;
}


.popper-enter-active, .popper-leave-active {
  transition: transform .3s cubic-bezier(.17,.77,.59,1.03), opacity .2s ease-in-out;
  transform-origin: top center;
}
.popper-enter-from, .popper-leave-to {
  opacity: 0;
  transform: translateY(-10%);
  transform: scale(0.8);
}
