@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@/styles/transitions");

body {
  margin: 0;
  font-family: 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Consolas, monospace;
}


.t-icon {
  transition: all .2s;
  @apply
    ease-in-out
    cursor-pointer
    p-1
    border
    border-white
    rounded-lg
    ml-1;

    svg {
      width: 15px;
      height: 15px;
      fill: #2B6CB0;
    }

  &:hover {
    @apply
      bg-red-100;

    svg {
      fill: #C53030;
    }
  }

  &.disabled {
    @apply 
      cursor-not-allowed;

    svg {
      fill: #CBD5E0!important;
    }
    &:hover {
      @apply
        bg-white
        border-white;

      svg {
        fill:#CBD5E0!important;
      }
    } 
  }

  &:focus {
    @apply
      outline-none;
  }
}

/* 1. declare transition */
.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-leave-active {
  position: absolute;
}